*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



ul{
    list-style: none;
}

a{
    text-decoration: none;
}



.container {
    
    max-width: 1440px;
    margin: 0 auto;
}

.header{  
    position:absolute;
    width: 100%;
    height: 90px;
    left: 0px;
    top: 0px;
    z-index: 50;
    background: rgba(242, 120, 92, 0.7);
    box-shadow: 0px 4px 4px rgba(13, 96, 111, 0.5);
    
    
}

.header-menu {
    display: flex; 
    min-height: 90px;
    align-items:center;
    
}

.header-logo {

    font-family: 'Magra';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    margin: 26px 159px 30px 0px;
    color: #FFFFFF;
}



.nav_menu {
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 42px;
margin:30px 148px 34px 7px ;
}

.menu_list {
    display: flex;
}

.menu_item {
   margin: 0px 43px 0px 0px; 
}
.menu_link {
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;

    color: #FFFFFF;
}

.btn {
    display: flex;
    
    justify-content: center;
    align-items: center;

    gap: 10px;
    
   margin: 20px 0px 24px 3px;;
    width: 103px;
    height: 41px;
    left: 1217px;
    top: 25px;
    background: #0D606F;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 3px rgba(13, 96, 111, 0.16);
    border-radius: 10px; 
}

.log {
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    
    color: #FFFFFF;
      
}
/*--------------------------------------------------------------------------------------------------------------------------*/
.preview{
    min-height: 100vh;
    background: url(/asests/img/bakcground1.jpg) center center/cover no-repeat;
    padding-top: 120px;
}

.preview-tittle {
    max-width: 892px;
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 96px;

    color: #FFFFFF; 
}
.preview-text {
    max-width: 723px;
    margin: 32px 0px 0 0;
    font-family: 'Aleo';
font-style: italic;
font-weight: 700;
font-size: 20px;
line-height: 24px;
color: #FFFFFF;
}

.search-form{
    display: flex;
     width: 892px;
    height: 95px;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 16px;
    margin-top: 46px;
}

.search-form-filed{
    width: 560px;
    background:transparent;
    border: 0;
}


.search-form-filed::placeholder{
    padding:32px 291px 41px 41px;
    font-family: 'Aleo';
    font-style: italic;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #F2785C; 
}

.search-form-btn{
    padding: 13px 32px;
    font-family: 'Red Hat Text';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 32px;
color: #FFFFFF;
background: #0D606F;
box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
border-radius: 10px;
border:0;
width: 228px;
height: 59px;
margin: 18px 18px 18px 45px;
}





.steps-tittle {
   margin: 20px auto;
width: 611px;
height: 53px;
left: calc(50% - 611px/2);
top: calc(50% - 53px/2 - 97px);

font-family: 'Red Hat Text';
font-style: normal;
font-weight: 500;
font-size: 40px;
line-height: 53px;
/* identical to box height */


color: #F2785C;
}
.steps-wrapper  {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}
.steps-item {
    width: 204px;
}
.steps-pic {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100px;
    height: 100px;
   
    background: #F2785C;
    border-radius: 16px;
    margin-top: 80px;
}

.steps-descr {
    margin-top: 30px;
    text-align: center;
    font-family: 'Aleo';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;
/* identical to box height */


color: #0D606F;
}



 .destinations-tittle{ 
    margin: 97px 229px 46px 320px;
   font-family: 'Red Hat Text';
font-style: normal;
font-weight: 500;
font-size: 40px;
line-height: 53px;
/* identical to box height */


color: #F2785C; 
}

.carousel-wrapper{
    display: flex;
    justify-content:space-around;
    align-items: center;
    
    gap: 60px;
}


.carousel-img{
    
width: 800px;
height: 800px;
left: 860px;
top: 0px;
border-radius: 16px;
}

.circles{
    display: flex;
    justify-content: center;
    align-items: center;
padding: 0px;
gap: 10px; 
margin-top: 24px;
}


.circle-one {
   width: 20px;
height: 20px;
background: rgba(242, 120, 92, 0.5);
border-radius: 50%
}

.circle-two{
width: 20px;
height: 20px;
background: #F2785C;
border-radius: 50%
}

.circle-three{
    width: 20px;
    height: 20px;
    background: rgba(242, 120, 92, 0.5);
    border-radius: 50%
}

.destinations-btn{
    display: flex;
    justify-content: center;
    align-items: center;

align-items: center;
padding: 10px 32px;
margin: 40px auto;


width: 228px;
height: 59px;
left: 607px;
top: 2172px;

background: #0D606F;
box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
border-radius: 10px;



}

.arrow-btn{
    margin: 9px 10px 9px 5px;
}

.destinations-btn-tittle{
    font-family: 'Red Hat Text';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 32px;
/* identical to box height */


color: #FFFFFF;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}


h2.stories-tittle{
    margin-top: 80px;
    text-align: center;
    font-family: 'Red Hat Text';
font-style: normal;
font-weight: 500;
font-size: 40px;
line-height: 53px;
color: #F2785C;
}

.stories-preview{ 
    margin-top: 40px;
   min-height: 100vh;;
    background:url(/asests/img/bakcground2.jpg) center center/cover no-repeat;
    
    
}



.stories-wrapper{

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: rgba(255, 255, 255, 0.7);
    
}

.content-wrapper{
    margin: 10px 125px 140px 120px;
}

.stories-item{
    display: flex;
    margin-top: 15px;
}
.stories-icon{
    width: 400px;
    height: 250px;
    left: 120px;
    top: 2444px;
    background: url(robin-noguier-sydwCr54rf0-unsplash.jpg);
    filter: drop-shadow(0px 4px 4px #0D606F);
    border-radius: 16px;
    margin-right: 40px;
}


h3.stories-tittle{
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 42px;
    margin-bottom: 24px;
    color: #0D606F; 
}

.stories-descr{
    min-height: 250px;
    font-family: 'Aleo';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;

color: #0D606F;
}

.stories-link{
    font-family: 'Aleo';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 24px;
text-decoration-line: underline;

color: #0D606F;
}
 

.stories-btn{
    display: flex;
    justify-content: center;
    align-items: center;



margin: 40px 485px;


width: 228px;
height: 59px;


background: #0D606F;
box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
border-radius: 10px;



}

.arrow-btn{
    margin: 9px 10px 9px 5px;
}

.stories-btn-tittle{
    font-family: 'Red Hat Text';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 32px;
/* identical to box height */


color: #FFFFFF;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}

.footer{
    background-image: url('');
    background-repeat: no-repeat;
    background-position: center calc(-1 * 1331px);
    width: 100%;
    height: 60px;
    left: 0px;
    top: 0px;
    z-index: 50;
   
}


