*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



ul{
    list-style: none;
}

a{
    text-decoration: none;
}



.container {
    
    width: 1200px;
    margin: 0 auto;
}

.header{  
    
    height: 90px;
    left: 0px;
    top: 0px;
    z-index: 50;
    background:url(/asests/img/bakcground1.jpg);
    background-repeat: no-repeat;
    background-position: center 0;
    
    
}

.header .header-menu {
    display: flex; 
    
    min-height: 90px;
    align-items:center;
    
    background: rgba(242, 120, 92, 0.7);
    box-shadow: 0px 4px 4px rgba(13, 96, 111, 0.5);
}

.header-logo {
    
    font-family: 'Magra';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    margin: 25px 0px 34px 6px;
    color: #FFFFFF;
}



.nav_menu {
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 42px;
margin:35px 153px 34px 159px ;
}

.menu_list {
    display: flex;
}

.menu_item {
   margin: 0px 42px 0px 0px; 
}
.menu_link {
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;

    color: #FFFFFF;
}

.btn {
    display: flex;
    
    justify-content: center;
    align-items: center;

    gap: 10px;
    
   margin: 25px 0px 24px 0px;;
    width: 103px;
    height: 41px;
    left: 1217px;
    top: 25px;
    background: #0D606F;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 3px rgba(13, 96, 111, 0.16);
    border-radius: 10px; 
}

.log {
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    
    color: #FFFFFF;
      
}